WebGUI/App_WebReferences/WebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54576/WebGUI/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54576/WebGUI/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54576/WebGUI/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54576/WebGUI/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTier" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getNumRows_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumRows" />
  </wsdl:message>
  <wsdl:message name="IService_getNumRows_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumRowsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetColumnNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColumnNames" />
  </wsdl:message>
  <wsdl:message name="IService_GetColumnNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColumnNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemIDList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemIDList" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemIDList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemIDListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemIDListByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemIDListByRange" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemIDListByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemIDListByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemRecord" />
  </wsdl:message>
  <wsdl:message name="IService_GetItemRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddItemRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemRecord" />
  </wsdl:message>
  <wsdl:message name="IService_AddItemRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateItemRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemRecord" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateItemRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPageRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageRecord" />
  </wsdl:message>
  <wsdl:message name="IService_GetPageRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getNumRows">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getNumRows" message="tns:IService_getNumRows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getNumRowsResponse" message="tns:IService_getNumRows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetColumnNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetColumnNames" message="tns:IService_GetColumnNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetColumnNamesResponse" message="tns:IService_GetColumnNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemIDList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetItemIDList" message="tns:IService_GetItemIDList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetItemIDListResponse" message="tns:IService_GetItemIDList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemIDListByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetItemIDListByRange" message="tns:IService_GetItemIDListByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetItemIDListByRangeResponse" message="tns:IService_GetItemIDListByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetItemRecord" message="tns:IService_GetItemRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetItemRecordResponse" message="tns:IService_GetItemRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItemRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddItemRecord" message="tns:IService_AddItemRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddItemRecordResponse" message="tns:IService_AddItemRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateItemRecord" message="tns:IService_UpdateItemRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateItemRecordResponse" message="tns:IService_UpdateItemRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPageRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPageRecord" message="tns:IService_GetPageRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPageRecordResponse" message="tns:IService_GetPageRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNumRows">
      <soap:operation soapAction="http://tempuri.org/IService/getNumRows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnNames">
      <soap:operation soapAction="http://tempuri.org/IService/GetColumnNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDList">
      <soap:operation soapAction="http://tempuri.org/IService/GetItemIDList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemIDListByRange">
      <soap:operation soapAction="http://tempuri.org/IService/GetItemIDListByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemRecord">
      <soap:operation soapAction="http://tempuri.org/IService/GetItemRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemRecord">
      <soap:operation soapAction="http://tempuri.org/IService/AddItemRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemRecord">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateItemRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageRecord">
      <soap:operation soapAction="http://tempuri.org/IService/GetPageRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:54576/WebGUI/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>